@media only screen and (max-width:1100px) {
    .img-container {
        width: 250px;
        height: 250px;
    }
    .page2-card-wrapper {
        width: 85%;
    }
    .bg-sec-traning {
        top: 1000px;
    }    
}
@media only screen and (max-width:910px) {
    .img-container {
        width: 230px;
        height: 230px;
    }
    .page2-card-wrapper {
        width: 90%;
    }
    .page2-btn-1 {
        width: 200px;
    }
    .bg-sec-traning {
        top: 980px;
    }    
}
@media only screen and (max-width:820px) {
    .img-container {
        width: 200px;
        height: 230px;
    }
    .page2-card-wrapper {
        width: 95%;
    }
    .page2-card-wrapper {
    /* height: 350px; */
    width: 90%;
    display: flex;
    align-items: center;
    }
    .classes-heading {
        margin-bottom: 30px;
        padding: 20px 0;
    }
}
@media only screen and (max-width: 720px) {
    .img-container {
        width: 180px;
        height: 200px;
    }
    .classes-heading {
        margin-top: 60px;
    }
    .bg-sec-traning {
        top: 940px;
    }   
    .page2-btn-1 {
        width: 160px;
    }
}
@media only screen and (max-width: 610px) {
    .img-container {
        width: 150px;
        height: 200px;
    }
    .classes-heading {
        margin-top: 
       40px;
    }
    .bg-sec-traning {
        top: 940px;
    } 
    .page2-btn-1 {
        width: 130px;
    }  
}
@media only screen and (max-width: 550px) {
 .page2-card-wrapper {
    flex-direction: column;
    }
    .classes-heading {
        margin-top: 90px;
        font-size: 25px;
    }
    .img-container {
        width: 350px;
        border-radius: 25px;
    }
    .page2-btn-1 {
        width: 230px;
        font-size: 15px;
    }
    .traning_heading {
        font-size: 25px;
    }
    .traning_btn {
        width: 180px;
        font-size: 15px;
    }
    .slideshow-container {
        height: 100vh;
      }
    .mySlidesAbout img {
        height: 100vh;
    }
}
@media only screen and (max-width: 380px) {
    .classes-heading {
        margin-top: 90px;
        font-size: 20px;
    }
    .img-container {
        width: 250px;
        border-radius: 25px;
    }
    .page2-btn-1 {
        width: 200px;
        font-size: 13px;
    }
    .traning_heading {
        font-size: 20px;
    }
    .traning_btn {
        width: 150px;
        font-size: 15px;
    }
    
    
    .mySlidesAbout img {
        height: 100vh;
    }
}