@media only screen and (max-width: 850px) {
    .cross{
        right: 0; 
    }
.open-menu,
.close-menu {
    display: block;
}
    .nav-link {
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 4;
        background-color: black ;
        display: none;
    }
    .nav-link_show{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-link li {
        padding: 20px 50px;
    }
    


}
@media only screen and (max-width:1250px) {
    .cross{
        right: 20%    }
}
@media only screen and (max-width:1100px) {
    .cross{
        right: 17%;
    }
}
@media only screen and (max-width:1000px) {
    .cross{
        right: 13%;
    }
}
@media only screen and (max-width:915px) {
    .cross{
        right: 10%;
    }
}
@media only screen and (max-width:830px) {
    .cross{
        right: 8%;
    }
}
@media only screen and (max-width:750px) {
    .cross{
        right: 2%;
    }
    .cross button {
        font-size: 40px;
    }
    .block {
        font-size: 25px;
        margin: 13px 0;
    }
    .label_radio {
        font-size: 20px;
    }
}
@media only screen and (max-width:550px) {
    .btn_form {width: 130px;
        height: 35px;
        font-size: 14px;
    }
}
@media only screen and (max-width:430px) {
    .block {
        font-size: 20px;
        margin: 13px 0;
    }
    .label_radio {
        font-size: 15px;
    }
    .terms_label {
        font-size: 15px;
    }
    .open-menu {
    right: 20px;
    }



}